@import "../../../theme/common.scss";

section.details {
  margin-top: $margin;
}

mat-card-title {
  text-align: left;
  font-size: 1.8em;
  padding-left: 16px;
}

mat-list-item {
  width: 100%;

  span {
    display: inline-block;
    width: 25%;
  }
}

.mat-expansion-panel-header {
  padding: 0 16px !important;
}

@media only screen and (max-width: $breakpoint-md) {
  mat-card-title {
    text-align: center;
    font-size: 1.8em;
    padding-left: 16px;
  }
  mat-list-item {
    span {
      display: block;
      width: 150px;
    }
  }
}
