@import "./variables.scss";

header {
  height: $header-height;
  padding-left: $margin;
  padding-right: $margin;
  background: indigo;
}

main {
  margin: 1% $margin $margin $margin;
}

h1 {
  display: inline-block;
  margin: 0;
  font-size: 2.25em;
  line-height: $header-height;
  color: white;
}

.spinner-container {
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 100vw;
  height: 100vh;
}

.go-back-button {
  position: absolute;
  top: 0;
  left: 12px;
  font-size: 2em;
  line-height: $header-height;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: $breakpoint-md) {
  h1 {
    width: 100%;
    text-align: center;
  }
  .hidden-md {
    display: none !important;
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .hidden-lg {
    display: none !important;
  }
}
