@import "./variables.scss";

header {
  padding-left: 5%;
  padding-right: 5%;
  background: indigo;
}

main {
  margin: 1% 5% 5% 5%;
}

h1 {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 2.25em;
  font-family: sans-serif;
  color: white;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 2em;
}

nav a {
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
