@import "../../../theme/common.scss";

mat-form-field {
  width: 25%;
  min-width: 200px;
  margin-top: 12px;
  margin-bottom: 12px;
}

mat-table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.right.mat-cell {
  display: flex;
  justify-content: flex-end;
  padding-right: 48px;
}

.right.mat-header-cell {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  padding-left: 24px;
}

.center.mat-cell {
  display: flex;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
}

.center.mat-header-cell {
  display: flex;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
}

@media only screen and (max-width: $breakpoint-md) {
  mat-form-field {
    width: 100%;
  }
}
